:root {
    --color-border: #424242;
    --color-bg: #111111;
    --color: #bbc4c4;
    --color-input: #161616;
    --color-white: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: var(--color);
}

body {
    position: relative;
    background: var(--color-bg);
    font-size: 1.2rem;
    overflow-x: hidden;
}
